@inherits LayoutComponentBase

<Header />
<NavMenu />
<div class="brand-container">
    @Body
</div>
<Footer />

@*<div class="page">
        <div class="sidebar">
        </div>

        <div class="main">
            <div class="top-row px-4 auth">
                <LoginDisplay />
                <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            </div>

            @foreach (var notification in _notifications)
            {
                <p>@notification</p>
            }
            <div class="content px-4">
                @Body
            </div>
        </div>
    </div>*@
