<div class="bg-blue-navy w-full">
    <div class="brand-container flex justify-between">
        <a href="#"
           class="uppercase text-center text-white w-full px-5 py-3 bg-blue-dark border-b-2 border-red-brand transition ease-out duration-500">
            <span class="material-icons">
                dashboard
            </span>
            <h1>Dashboard</h1>
        </a>
        <a href="#"
           class="uppercase text-center text-white w-full px-5 py-3 hover:bg-blue-dark hover:border-b-2 border-red-brand transition ease-out duration-500">
            <span class="material-icons">
                event_available
            </span>
            <h1>Events</h1>
        </a>
        <a href="#"
           class="uppercase text-center text-white w-full px-5 py-3 hover:bg-blue-dark hover:border-b-2 border-red-brand transition ease-out duration-500">
            <span class="material-icons">
                people
            </span>
            <h1>Profiles</h1>
        </a>
        <a href="#"
           class="uppercase text-center text-white w-full px-5 py-3 hover:bg-blue-dark hover:border-b-2 border-red-brand transition ease-out duration-500">
            <span class="material-icons">
                email
            </span>
            <h1>Messages</h1>
        </a>
        <a href="#"
           class="uppercase text-center text-white w-full px-5 py-3 hover:bg-blue-dark hover:border-b-2 border-red-brand transition ease-out duration-500">
            <span class="material-icons">
                today
            </span>
            <h1>Calender</h1>
        </a>
        <a href="#"
           class="uppercase text-center text-white w-full px-5 py-3 hover:bg-blue-dark hover:border-b-2 border-red-brand transition ease-out duration-500">
            <span class="material-icons">
                settings
            </span>
            <h1>Settings</h1>
        </a>
    </div>
</div>


@*<div class="top-row pl-4 navbar navbar-dark">
        <a class="navbar-brand" href="">AdminApp.BlazorWasm</a>
        <button class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
        <ul class="nav flex-column">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="counter">
                    <span class="oi oi-plus" aria-hidden="true"></span> Counter
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="fetchdata">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
                </NavLink>
            </li>
        </ul>
    </div>

    @code {
        private bool collapseNavMenu = true;

        private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

        private void ToggleNavMenu()
        {
            collapseNavMenu = !collapseNavMenu;
        }
    }*@
